<div id="content">
	<div id="page" class="float_left">
		<h2>Add Project</h2>
		<strong><label for="name">Project Name</label></strong><br/>
		<input type="text" class="text" id="name" data-ng-model="add_project.name"><br/><br/>

		<strong><label for="cost">Cost</label></strong><br/>
		<input type="text" class="text" id="cost" data-ng-model="add_project.cost"><br/><br/>

		<strong><label for="cost_received">Cost Received</label></strong><br/>
		<input type="text" class="text" id="cost_received" data-ng-model="add_project.cost_received">
		<br/><br/>

		<strong><label for="platform">Platform</label></strong><br/>
		<select id="platform" data-ng-model="add_project.platform">
			<option>asdf</option>
		</select><br/><br/>

		<strong><label for="status">Status</label></strong><br/>
		<select id="status" data-ng-model="add_project.status">
			<option>Pending</option>
			<option>Ongoing</option>
			<option>Finished</option>
			<option>Failed</option>
		</select><br/><br/>
	</div>

	<div id="sidebar" class="float_right">
		<div class="box">
			<div class="box_header">Find a Client</div>
			<div class="box_content">
				To be continued.
			</div>
		</div>
		<br/>
		<div class="box">
			<div class="box_header">Project Notes</div>
			<div class="box_content">
				To be continued.
			</div>
		</div>
	</div>

	<div class="clear"></div>
</div>